<div class="container-fluid my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img  class="img-fluid" [src]="productDetails.p_image" alt="">
            </div>
            <div class="col-md-5">
                <h2>{{productDetails.p_name}}</h2>
                <h4>{{productDetails.price}}</h4>
                <p>{{productDetails.p_description}}</p>
                <button (click)="addToCart()"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
</div>
