<!-- <div class="container-fluid my-5">
        <div class="row align-items-center">
            <div class="col-md-6">
                <img src="../../../assets/coffee-beans-with-props-making-coffee_1220-4536.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h2>{{productDetails.produt_name}}</h2>
                <h4>{{productDetails.price}}</h4>
                <p>{{productDetails.description}}</p>
                <button (click)="addToCart()"><i class="fa fa-shopping-cart"></i></button>
            </div>
        </div>
</div> -->
