
/*_____Start nav styling____*/
    nav
    {
        background-color: rgba(244, 242, 242,0.3);
    }
    .navbar-brand {
        color:rgb(234, 96, 46)
    }
    .navbar-expand-sm .navbar-nav .nav-link
    {
        color: #717070;
        font-size: 18px;
        margin-right: 16px;
        padding: 3px;
    }
    .navbar-light .navbar-toggler {
        border:none
    }
    .dropdown-menu
    {
        min-width: 7rem;
        box-shadow: 0px 0px 10px rgba(98, 79, 79, 0.334);
        border: none;
        color: #5e83a9;
    }
    

    .test
    {
        border-bottom: 2px solid rgb(237, 104, 56) ;
    }

    .dir
    {
        direction: rtl;
        color: rgb(237, 104, 56);
    }
/*_____End nav styling_____*/
