.contentType {
    display: block;
    text-decoration: none;
    font-size: 1.1rem;
    color: #8f8f98;
    margin: 5px 5px;
    padding: 10px;
    transition: background-color 0.2s ;
  }
  .pageBox {
    background-color: #fff;
    box-shadow: 1px 1px 4px #797878;
    margin: 2rem 1rem;
    border-radius: 5px;
  }