<div class="col-md-6 m-auto">
  <form
    [formGroup]="loginForm"
    (ngSubmit)="forgetPassword(loginForm)"
    class="py-4"
  >
    <h4 class="mb-4">Password Reset</h4>
    <div class="form-group mb-4">
      <!-- <label for="">Email:</label> -->
      <input
        type="email"
        class="form-control my-2 bg-transparent"
        placeholder="Enter your email"
        formControlName="email"
      />
      <div
        *ngIf="
          loginForm.controls['email'].errors &&
          loginForm.controls['email'].touched
        "
      >
        <span
          *ngIf="loginForm.controls['email'].errors?.['required']!==undefined"
          class="text-danger"
          >email is required</span
        >
        <span
          *ngIf="!loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].errors!=null "
          class="text-danger"
          >Email not valid
        </span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">reset</button>
  </form>
</div>
