button,button:hover
{
    background-color: rgb(237, 104, 56);
    color :#fff;
    padding: 2px 7px;
    border: none;
    border-radius: 5px;
}
button svg
{
    font-size: 15px;
}
.layer
{
    width: auto;
    height: auto;
    background-color: rgb(237, 104, 56);
    position: absolute;
    right: 6%;
    border-radius: 0px 5px 0px 0px;
    color:#fff;
    padding: 5px;
}