<div class="search">
  <input type="text" [(ngModel)]="term" placeholder="Search by Name" class="w-50 mb-4 m-auto form-control bg-transparent ">
</div>
<div class="container my-5">
    <div class="row mb-3">
        <div class="col-md-3 mb-4" *ngFor="let product of allProducts|search:term">
            <div class="card position-relative" >
              <div class="card-body">
                <div class="layer">
                  {{product.price}}
                </div>
                <img style="height: 200px;" class="w-100 rounded" [src]="product.p_image" alt="">
                <h5 class="card-title mt-3">{{product.p_name}}</h5>
                <button (click)="goToDetails(product.p_id)" class=" me-4">Show Details</button>
                <button (click)="addToCart(product)"><i class="fa fa-shopping-cart"></i></button>
              </div>
            </div>
        </div>
    </div>
</div>
