<section id="home">
    <div class="layer">
        <header class="header-info my-5">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <div class=" header-info-content">
                    <h1>Food and drinks Made <br> With LOve <br> Tastes Better.</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et impedit aliquid sit suscipit totam non iste sed deserunt laboriosam tempore!</p>
                    <div class="buttons">
                        <button class="more-button changebg">
                            <a href="#about" target="_blank">Learn More</a>
                        </button>
                        <button class="contact-button changebrd">
                            <a class="text-black" href="#contact" target="_blank">Contact Us</a>
                        </button>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                  <img class="w-100 ms-4" src="../../../assets/photo-1478144592103-25e218a04891.avif" alt="">
                </div>
              </div>
            </div>
          
            
        </header>
    </div>
</section>

<div class="cards">
  <div class="container text-center">
    <div class="row py-3">
        <div class="col-md-3">
            <h3>12133 <i class="fa fa-plus" aria-hidden="true"></i></h3>
            <P>SAVING</P>
        </div>
        <div class="col-md-3">
          <h3>121332<i class="fa fa-plus" aria-hidden="true"></i></h3>
          <P>Visiting</P>
      </div>
      <div class="col-md-3">
        <h3>12133 <i class="fa fa-plus" aria-hidden="true"></i></h3>
        <P>SAVING</P>
      </div>
    <div class="col-md-3">
      <h3>748383 <i class="fa fa-plus" aria-hidden="true"></i></h3>
      <P>GLOBES</P>
  </div>
    
</div>
</div>
</div>


<section id="about" class="py-5">
  <h3 class="text-center"><b>Anout Us</b></h3>
  <div class="container mt-5 pt-3">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img class="rounded" src="../../../assets/images (1).jpeg" alt="">
      </div>
      <div class="col-md-6">
        <h2>Our Cafeteria is one of the Best & Trusted Food services</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum dolore maiores alias! Rerum delectus eaque, a commodi corrupti soluta provident consequatur temporibus? Aperiam a commodi nulla sunt reiciendis, suscipit laudantium!</p>
      </div>
    </div>
  </div>
</section>

<section id="popularFood" class="my-5">
  <h3 class="text-center"><b>Cooked and Drinks With All Love</b></h3>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3 position-relative">
        <div class="layer position-absolute">30EGP</div>
        <img style="height: 230px; width:270px" src="../../../assets/download.jpeg" alt="">
        <h3  class="text-center mt-3">Burger</h3>
      </div>
      <div class="col-md-3 position-relative">
        <div class="layer position-absolute">100EGP</div>
        <img style="height: 230px; width:270px" src="../../../assets/download (2).jpeg" alt="">
        <h3  class="text-center mt-3">Pasta</h3>
      </div>
      <div class="col-md-3 position-relative">
        <div class="layer position-absolute">200EGP</div>
        <img style="height: 230px;width:270px" src="../../../assets/download (1).jpeg" alt="">
        <h3 class="text-center mt-3">Pizza</h3>
      </div>
      <div class="col-md-3 position-relative">
        <div class="layer position-absolute">150EGP</div>
        <img style="height: 230px;width:270px" src="../../../assets/Puttanesca-fd5810c.jpg" alt="">
        <h3 class="text-center mt-3">Pasta</h3>
      </div>
    </div>
  </div>
</section>




<section id="popularCheef" class="my-5">
  <h3 class="text-center"><b>Popular Cheef</b></h3>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">

        <img class="rounded-circle" style="height: 230px; width:270px" src="../../../assets/1.jpeg" alt="">
        <h3  class="text-center mt-3">Nour</h3>
      </div>
      <div class="col-md-3">

        <img class="rounded-circle" style="height: 230px; width:270px" src="../../../assets/2.webp" alt="">
        <h3  class="text-center mt-3">Ahmed</h3>
      </div>
      <div class="col-md-3">

        <img class="rounded-circle" style="height: 230px; width:270px" src="../../../assets/3.jpeg" alt="">
        <h3  class="text-center mt-3">Mai</h3>
      </div>
      <div class="col-md-3">

        <img class="rounded-circle" style="height: 230px; width:270px" src="../../../assets/1.jpeg" alt="">
        <h3  class="text-center mt-3">Nour</h3>
      </div>
    </div>
  </div>
</section>