<section id="home">
    <div class="layer">
        <header class="header-info  h-100 text-light">
            <div class="text-center header-info-content">
                <p>Welcome to</p>
                <h1 class="change">Our Cafeteria</h1>
                <p>We're the biggest, best equipped and most advanced Cafetria in Cairo and You can order any drinks.</p>
                <div class="buttons">
                    <button class="more-button changebg">
                        <a href="#about" target="_blank">Learn More</a>
                    </button>
                    <button class="contact-button changebrd">
                        <a href="#contact" target="_blank">Contact Us</a>
                    </button>
                </div>
            </div>
        </header>
    </div>
</section>
