#home
{
    background-image: url(../../../assets/realistic-coffee-background_79603-1652.webp) ;
    background-size: 100% 110%;
    height: 100vh;
    position: relative;
}
.layer
{
    background-color:rgba(0,0,0,0.9);
    height: 100%;
}
.header-info
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-info-content
{
    width:60%;

}
.header-info p
{
    font-size: 22px;
    margin: 15px;
    line-height: 40px;
}
.header-info h1
{
    font-size: 74px;
    font-weight: 100;
}
.header-info button
{
    padding: 13px 23px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Segoe UI light';
    margin: 15px 15px 0px 0px;
    border-radius: 4px;
    color:#fff
}
.header-info .more-button
{
    background-color: #8e7754;
    border: 2px solid #8e7754;
}
.header-info .contact-button
{
    background-color:transparent;
    border:2px solid #dfd9d9;
}
.header-info .more-button a ,.header-info .contact-button a
{
    text-decoration: none;
    color:#fff
}