<div class="container mb-5 text-center">
  <h3 class="my-5">Shopping Cart</h3>

  <select
    *ngIf="isAdmin"
    class="form-select my-3"
    aria-label="Default select example"
    (change)="getId($event)"
  >
    <option *ngFor="let user of allUsers" value="{{ user.id }}">
      {{ user.name }}
    </option>
  </select>

  <table class="table table-bordered">
    <thead>
      <th class="py-2">Name</th>
      <th class="py-2">Image</th>
      <!-- <th class="py-2">Notes</th> -->
      <th class="py-2">Price</th>
      <th class="py-2">Quantity</th>
      <th class="py-2">Remove Product</th>
    </thead>
    <tbody>
      <tr *ngFor="let product of cartItems">
        <td>{{ product.p_name }}</td>
        <td><img [src]="product.p_image" style="width: 150px" alt="" /></td>
        <!-- <td>
                    <li>No sugar</li>
                    <li>No sugar</li>
                    <li>No sugar</li>
                </td> -->
        <td>{{ product.price * product.p_quantity }}</td>
        <td>
          <button (click)="plusQuantity(product)" class="button">
            <i class="fa fa-plus"></i>
          </button>
          <span class="px-2">{{ product.p_quantity }}</span>
          <button (click)="minusQuantity(product)" class="button me-2">
            <i class="fa fa-minus"></i>
          </button>
          <button (click)="resetCount(product)" class="button">
            <i class="fa fa-trash"></i>
          </button>
        </td>
        <td>
          <button (click)="removeItem(product)" class="button">
            <i class="fa fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="py-2">
        <b>total : {{ totalPrice }}</b>
      </td>
      <td></td>
    </tfoot>
  </table>

  <button *ngIf="!isAdmin" class="button" (click)="checkout()">Confirm</button>
  <button *ngIf="isAdmin" class="button" (click)="Admincheckout()">
    Confirm
  </button>
</div>
