.info
{
    background-color: #edecea;
}
.info .container-fluid
{
    width:90%;
}
.info h5
{
    font-size: 17px;
    margin-bottom: 15px;
}
.hr
{
    width:100%;
    height:1px;
    background-color: rgb(186, 182, 182);
    margin: 10px 0px ;
}
.info span,.info p
{
    // color: #888787;
    line-height: 28px;
}


.footer
{
    background-color: rgb(234, 96, 46);
    color: #fff
}
.footer .icons
{
    width: 12%;
}
.footer .icons a
{
    color: #fff
}
.footer .icons i
{
    background-color:#504c46 ;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}