
    <!--Start section Info-->
    <section class=" py-5 info">
        <div class="container-fluid py-3 ">
            <div class="row">
                <div class="col-md-3">
                    <div class="p-2">
                        <h5>About us</h5>
                        <span>
                            <p>I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur. I am text block. Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur.</p>
                        </span>
                        <p>We are the champions! We are the most amazing.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" p-2">
                        <h5>Why we are special?</h5>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Our magical recipe.</span>
                        <div class="hr"></div>
                        <span><i class=" me-2 fa-xs fa fa-chevron-right"></i>We care about environment.</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>We are trusted by hundreds of clients.</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Social media loves us!</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>This list is super easy to create.
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" p-2">
                        <h5>Opening Hours</h5>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Monday 10AM - 9PM</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Tuesday 10AM - 9PM</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Wednesday 10AM - 9PM</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Thursday 10AM - 10PM</span>
                        <div class="hr"></div>
                        <span> <i class=" me-2 fa-xs fa fa-chevron-right"></i>Friday 10AM - 10PM</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class=" p-2">
                        <h5>Contact Details</h5>
                        <div class="contact-details">
                            <div class="contact-details-layer">
                                <span><i class="me-2 fa-xs fa fa-envelope"></i>Moustafa Saeed</span>
                                <div class="hr"></div>
                                <span><i class=" me-2 fa-xs fa fa-envelope"></i>Ahmed Taha</span>
                                <div class="hr"></div>
                                <span><i class=" me-2 fa-xs fa fa-envelope"></i>Ahmed Abo Basha</span>
                                <div class="hr"></div>
                                <span><i class=" me-2  fa-xs fa fa-envelope"></i>Aya Moustafa</span>
                                <div class="hr"></div>
                                <span><i class=" me-2  fa-xs fa-xs fa fa-envelope"></i>Omina Khaled</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--End section Info-->


<!--Start section footer-->
    <div class="footer  text-center py-5">
        <p class="my-3">Copyright 2017. All rights reserved.</p>
        <div class="icons m-auto d-flex justify-content-around">
            <a href=""><i class="fab fa-facebook-square"></i></a>
            <a href=""><i class="fab fa-google"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
    </div>
<!--End section footer-->