
<div class="container">
    <div class="row my-5">
        <h4>Contact Us</h4>
        <div class="col-md-7 me-5 mt-2">
            <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
              </div>
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="" class="form-label">Your message</label>
                    <textarea class="form-control" name="" id="" cols="30" rows="5"></textarea>
                </div>
                <button class="btn"> Submit</button>
        </div>
        <div class="col-md-4">
            <img class="w-100" src="../../../assets/online-registration-or-sign-up-login-for-account-on-smartphone-app-user-interface-with-secure-password-mobile-application-for-ui-web-banner-access-cartoon-people-illustration-vector.jpg" alt="">
        </div>
    </div>
</div>
