<div class="container mb-5">
  <h3 class="my-4">My Orders</h3>

  <input
    (change)="getStartDate()"
    id="startDate"
    type="date"
    class="mb-5 mt-3 pe-5 ps-2 py-1 me-5"
  />
  <input
    (change)="getEndDate()"
    id="endDate"
    type="date"
    class="mb-5 mt-3 pe-5 ps-2 py-1 ms-5"
  />

  <table class="table table-bordered text-center">
    <thead>
      <th class="py-2">Order Date</th>
      <th class="py-2">Status</th>
      <th class="py-2">Amount</th>
      <th class="py-2">Action</th>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td>{{ order.date }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.price }}</td>

        <td
          *ngIf="order.status == 'processing'"
          (click)="deleteUserOrder(order.orderID)"
          class="btn-cancel"
        >
          CANCEL
        </td>
      </tr>
      <!-- <tr>
                <td>23-9-2022 10.20pm</td>
                <td>Processing</td>
                <td>15EGp</td>
                <td>CANCEL</td>
            </tr>
            <tr>
                <td>23-9-2022 10.20pm</td>
                <td>Processing</td>
                <td>15EGp</td>
                <td>CANCEL</td>
            </tr>
            <tr>
                <td>23-9-2022 10.20pm</td>
                <td>Processing</td>
                <td>15EGp</td>
                <td>CANCEL</td>
            </tr>
            <tr>
                <td>23-9-2022 10.20pm</td>
                <td>Processing</td>
                <td>15EGp</td>
                <td>CANCEL</td>
            </tr> -->
    </tbody>
    <tfoot>
      <td></td>
      <td></td>
      <td></td>
      <td class="py-2">Total {{ addTotalAmount(orders) }} EGP</td>
    </tfoot>
  </table>
</div>
