<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-6 py-5">
      <img
        src="../../../assets/360_F_339709048_ZITR4wrVsOXCKdjHncdtabSNWpIhiaR7.jpg"
        alt=""
        srcset=""
      />
    </div>
    <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="py-4">
        <h4 class="mb-4">Login</h4>
        <div class="form-group mb-4">
          <!-- <label for="">Email:</label> -->
          <input
            type="email"
            class="form-control my-2 bg-transparent"
            placeholder="Enter your email"
            formControlName="email"
          />
          <div
            *ngIf="
              loginForm.controls['email'].errors &&
              loginForm.controls['email'].touched
            "
          >
            <span
              *ngIf="loginForm.controls['email'].errors?.['required']!==undefined"
              class="text-danger"
              >email is required</span
            >
            <span
              *ngIf="!loginForm.controls['email'].errors?.['required'] && loginForm.controls['email'].errors!=null "
              class="text-danger"
              >Email not valid
            </span>
          </div>
        </div>
        <div class="form-group mb-4">
          <!-- <label for="">Password:</label> -->
          <input
            type="password"
            class="form-control my-2 bg-transparent"
            placeholder="Enter password"
            formControlName="password"
          />
          <!-- <div *ngIf="loginForm.controls['password'].errors&& loginForm.controls['password'].touched ">
                        <span *ngIf="loginForm.controls['password'].errors?.['required']!==undefined" class="text-danger">password is required</span>
                        <span *ngIf="!loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].errors!=null " class="text-danger">Password must start with small letter then conatin from 3 to 8 numbers </span>   
                    </div> -->
        </div>
        <button
          [disabled]="loginForm.status == 'INVALID'"
          type="submit"
          class="btn"
        >
          Login
        </button>
        <span class="ms-4"
          ><a (click)="navigate()"
            >Do have account <span class="navigate">plz Register?</span></a
          ></span
        >
        <div class="col-auto mt-3">
          <a routerLink="/forgetpassword">Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
