form
{
    .navigate
    {
        cursor: pointer;
        color: #ab64bd;
        font-weight: 600;
    }
    button
    {
        border: 1px solid #b4a2ef;
        background-color: #b4a2ef;
        color:#fff
    }
    button:hover
    {
        border: 1px solid #b4a2ef;
        background-color: #b4a2ef;
        color:#fff
    }
}